/* src/assets/css/tailwind.css*/
@import "tailwindcss";

html {
}

body {
  @apply my-8;
  @apply text-lg;
}

h1 {
  @apply font-semibold;
  @apply text-4xl;
  @apply mb-4;
  @apply pb-4;
  @apply border-b;
}

h2 {
  @apply font-semibold;
  @apply text-3xl;
  @apply mb-4;
}

a {
  @apply text-slate-950 underline underline-offset-4 decoration-2 hover:decoration-sky-600;
}
