/* src/assets/css/tailwind.css*/
@import "tailwindcss";


body {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom-width: 1px;
}

h2 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

a {
  color: rgb(2 6 23);
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  
  &:hover {
    text-decoration-color: rgb(2 132 199);
  }
}
